/* variables.css */
:root {
    --bg-app: #09090b;        
    --bg-sidebar: #09090b;    
    --bg-card: #121215;       
    --bg-hover: #1f1f22;
    --border-color: #27272a; 
    --primary-blue: #3b82f6; 
    --success-green: #22c55e;
    --error-red: #ef4444;
    --text-primary: #f4f4f5;
    --text-secondary: #a1a1aa;
    --font-ui: 'Inter', sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
    --radius-sm: 6px;
    --radius-md: 12px;
}